

.counterContainer{
    width: 100%;
    max-width: 1000px;
    max-height: 300px;
    aspect-ratio: 16/6;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.timeSegment{
    width: 20%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    container-type: inline-size;
}

.timeSegment h1{
    color:#77768f;
    font-size: clamp(0px,8cqi,1rem);
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 1rem;
}


.display{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}



.display_top, .display_bot, .overlay_top, .overlay_bottom{
    width: 100%;
    height: 50%;
    overflow: hidden;
    position: relative;
    container-type: inline-size;
}
.display_top, .overlay_top{
    background: #2c2c44;
    line-height: 2.1;
    color: #d15071;
}

.display_bot, .overlay_bottom{
    background: #34364f;
    border-top: 1px solid #201d29;
    line-height: 0;
    color: #fd5c85;
}





.overlay{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
    perspective: 2500px;
}

.overlay.flip .overlay_top{
    animation: rotate 0.8s linear infinite;
}
.overlay.flip .overlay_bottom{
    animation: rotateBot 0.8s linear infinite;
}


.overlay_top{
    transform-origin: bottom;
}

.overlay_bottom{
    transform-origin: top;
}


p{
    text-align: center;
    font-size: clamp(1rem,48cqi,6rem);
    font-weight: 700;
}















@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%, 100%{
        transform: rotateX(-90deg);
    }
}


@keyframes rotateBot{
    0%, 50%{
        transform:rotateX(90deg) ;
    }
    100%{
        transform:rotateX(0deg) ;
    }
}
