

.counterContainer{
    width: 100%;
    max-width: 1000px;
    max-height: 400px;
    aspect-ratio: 16/6;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.5rem;
}

.timeSegment{
    width: 20%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeSegment p{
    color:#77768f;
    font-weight: 900;
    text-transform: uppercase;
}


.display{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}



.display_top, .display_bot, .overlay_top, .overlay_bottom{
    width: 100%;
    height: 50%;
    overflow: hidden;
    position: relative;
}
.display_top, .overlay_top{
    background: #2c2c44;
}

.display_bot, .overlay_bottom{
    background: #34364f;
    border-top: 1px solid #201d29;
}

.round_thing{
    background-color: #201d29;
    width: 10%;
    /* height: 20px; */
    aspect-ratio: 2/2;
    border-radius: 50%;
    position: absolute;
}

.display_bot .round_thing, .overlay_bottom .round_thing{
    top: -10px;
}
.display_top .round_thing, .overlay_top .round_thing{
    bottom: -10px;
}

.overlay{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
    perspective: 2500px;
}

.overlay.flip .overlay_top{
    animation: rotate 0.8s linear;
}
.overlay.flip .overlay_bottom{
    animation: rotateBot 0.8s linear;
}


.overlay_top{
    transform-origin: bottom;
}

.overlay_bottom{
    transform-origin: top;
}















@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%, 100%{
        transform: rotateX(-90deg);
    }
}


@keyframes rotateBot{
    0%, 50%{
        transform:rotateX(90deg) ;
    }
    100%{
        transform:rotateX(0deg) ;
    }
}
