*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body{
    font-family: sans-serif;
    overflow: hidden;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color:#241E2C ;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    container-type: inline-size;
    overflow: hidden;
}

.headline{
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 10px;
    z-index: 5;
}


.stars{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    z-index: 4;
}

.hills{
    position: absolute;
    bottom: 0;
    min-width:760px;
    width:100%;
    z-index: 5;
}

.socials{
    position: absolute;
    bottom: 50px;
    width: 100%;
    z-index: 6;
    display: flex;
    justify-content: center;
}

.socials svg{
    margin: 0 1rem;
    cursor: pointer;
    color: #8385A9;
}

.socials svg:hover{
    color: #d15071;
}

@media screen and (max-width: 560px) {
    .headline{
        font-size: 1rem;
    }
}